
########################################
## .htaccess START
RewriteEngine On

## HTTP -> hTTPS redirect 
RewriteCond %{HTTPS} off 
RewriteRule ^.*$ "https://steelix.cyberxcapsule.com/$1" [L,R=301]

## Default Beacon Staging Support (/1234)
#RewriteCond %{{REQUEST_METHOD}} GET [NC]
#RewriteCond %{{REQUEST_URI}} ^/..../?$
#RewriteCond %{{HTTP_USER_AGENT}} "{ua}"
#RewriteRule ^.*$ "{c2server}%{{REQUEST_URI}}" [P,L]

## C2 Traffic (HTTP-GET, HTTP-POST, HTTP-STAGER URIs)
## Logic: If a requested URI AND the User-Agent matches, proxy the connection to the Teamserver
## Consider adding other HTTP checks to fine tune the check.  (HTTP Cookie, HTTP Referer, HTTP Query String, etc)
## Refer to http://httpd.apache.org/docs/current/mod/mod_rewrite.html
## Only allow GET and POST methods to pass to the C2 server
#RewriteCond %{REQUEST_METHOD} ^(GET|POST) [NC]
## Profile URIs
#RewriteCond %{REQUEST_URI} ^(/*)$
## Profile UserAgent
#RewriteCond %{HTTP_USER_AGENT} "Mozilla/5.0 \(Windows NT 10.0; Win64; x64\) AppleWebKit/537.36 \(KHTML, like Gecko\) Chrome/82."
#RewriteRule ^.*$ "https://172.19.0.5%{REQUEST_URI}" [P,L]

## .htaccess END
########################################
