
########################################
## .htaccess START
RewriteEngine On

# secure .htaccess file
<Files .htaccess>
	Order allow,deny
	Deny from all
</Files>

## HTTP -> hTTPS redirect 
RewriteCond %{HTTPS} off 
RewriteRule ^.*$ "https://steelix.cyberxcapsule.com/$1" [L,R=301]

## Obtain key
RewriteCond %{REQUEST_METHOD} GET [NC]
RewriteCond %{REQUEST_URI} ^/api/key/?$
RewriteCond %{HTTP_USER_AGENT} "Steelix"
RewriteRule ^.*$ "https://172.19.0.5%{REQUEST_URI}" [P,L]

## block crawler
RewriteCond %{HTTP_USER_AGENT} ^.*(BaiduSpider|HTTrack|Yandex|bot|crawler|spider|curl).*$ [NC]
RewriteRule .* - [F,L]


## redirect all other traffic to google.com
RewriteRule ^.*$ "https://google.com/search?q=get+good+punk" [L,R=302]


## .htaccess END
########################################
